support "special_status_message" interop test

https://github.com/grpc/grpc/blob/master/doc/interop-test-descriptions.md

Not a high priority (not all grpc languages currently implement this test).

What are we failing to do to get the test to pass?

I'm not sure if we are handling the "Status-Message" encoding correctly in case special characters are used.

> The value portion of Status-Message is conceptually a Unicode string description of the error, physically encoded as UTF-8 followed by percent-encoding. Percent-encoding is specified in RFC 3986 §2.1, although the form used here has different restricted characters. When decoding invalid values, implementations MUST NOT error or throw away the message. At worst, the implementation can abort decoding the status message altogether such that the user would received the raw percent-encoded form. Alternatively, the implementation can decode valid portions while leaving broken %-encodings as-is or replacing them with a replacement character (e.g., '?' or the Unicode replacement character).

https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md

I verified that currently Grpc.AspNetCore.Server does not pass the test:
https://source.cloud.google.com/results/invocations/08537a88-6131-448b-bf7a-33aa1022ada9/targets/github%2Fgrpc%2Finterop_test/tests;group=tests;test=cloud_to_cloud:go:aspnetcore_server:special_status_message:tls;row=19

Here are a few clients that support the special_status_message interop test and fail against grpc.aspnetcore.server (it's an adhoc run with the test case enabled):

Go
```
FATAL: 2019/03/20 14:43:01 &{0xc000134300}.UnaryCall(_, response_status:<code:2 message:"\t\ntest with whitespace\r\nand Unicode BMP \342\230\272 and non-BMP \360\237\230\210\t\n" > ) = _, rpc error: code = Internal desc = stream terminated by RST_STREAM with error code: INTERNAL_ERROR, want _, rpc error: code = Unknown desc =
test with whitespace
and Unicode BMP  and non-BMP
exit status 1
```

Java
```
Running test special_status_message
Exception in thread "main" java.lang.AssertionError: expected:<UNKNOWN> but was:<INTERNAL>
	at org.junit.Assert.fail(Assert.java:88)
	at org.junit.Assert.failNotEquals(Assert.java:834)
	at org.junit.Assert.assertEquals(Assert.java:118)
	at org.junit.Assert.assertEquals(Assert.java:144)
	at io.grpc.testing.integration.AbstractInteropTest.specialStatusMessage(AbstractInteropTest.java:1525)
	at io.grpc.testing.integration.TestServiceClient.runTest(TestServiceClient.java:332)
	at io.grpc.testing.integration.TestServiceClient.run(TestServiceClient.java:213)
	at io.grpc.testing.integration.TestServiceClient.main(TestServiceClient.java:71)
Shutting down
```

Node
```
assert.js:77
  throw new AssertionError(obj);
  ^
AssertionError [ERR_ASSERTION]: Input A expected to strictly equal input B:
+ expected - actual
- 13
+ 2
    at /var/local/git/grpc-node/test/interop/interop_client.js:382:12
    at Object.onReceiveStatus (/var/local/git/grpc-node/packages/grpc-native-core/src/client_interceptors.js:1205:9)
    at InterceptingListener._callNext (/var/local/git/grpc-node/packages/grpc-native-core/src/client_interceptors.js:568:42)
    at InterceptingListener.onReceiveStatus (/var/local/git/grpc-node/packages/grpc-native-core/src/client_interceptors.js:618:8)
    at callback (/var/local/git/grpc-node/packages/grpc-native-core/src/client_interceptors.js:845:24)
```



@jtattermusch how can I run this interop test locally? As I started looking into this, I think there may be other issues at play, especially if an INTERNAL error code was returned.

How to run:

There's a runner python script that can faciliate building and running (but it has some prequisites)
https://github.com/grpc/grpc/tree/master/tools/run_tests#interop-tests-run_interop_testspy

but you can go more basic than that and just build the interop client (C#, C++, java, go, ...) and server separately, start the interop AspNetCore server
and run the interop client from the command line manually:
The commands are mostly described by the interop spec doc https://github.com/grpc/grpc/blob/master/doc/interop-test-descriptions.md



I'm going to do this one. I'll write the decode for the client at the same time.